body {
  background-color: *#E5E8E8;
  font-family: 'Roboto', sans-serif;
  font-weight: light;
  color: #273746;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  color: #273746;
  font-weight: 500;
}

a:hover {
    color: #C0392B;
}

a {
  color: #34495E;
}

#button-link:hover {
  background-color: #C0392B;
}

#button-link {

  background-color: #34495E;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: none;
  border-radius: 4px;
}

#links {
  text-decoration: none;
  font-size: 50px;
}

.image-circle {
  border-radius: 50%;
  box-shadow: 2px 4px 5px grey
}

.container {
  width: 600px;
  margin: 0 auto;
}

.bottom-icons {
  text-decoration: none;
}

#center {
  text-align: center;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 60px;
  text-decoration: none;
}

#bottom-info {
  text-align: center;
  text-decoration: none;
}


.card {
  border-radius: 5px;
  background-color: #F8F9F9;
  padding: 30px;
  margin: 15px;
  box-shadow: 2px 4px 5px grey;
  /*box-shadow: 2px 4px #CACFD2;*/
}

.sidenav {
    height: 100%;
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: RGB(0.22, 0.25, 0.29, 1.00); opacity: .8;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.sidenav a:hover {
    background-color: #C0392B;
}
